.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  min-width: 100vw;

  .main_text {
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 10px;
  }

  .images {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    img {
      width: 90px;
      height: 90px;
      margin: 8px; 
      object-fit: cover; 
    }
  }
}
